<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993561624272-0nd8cboi0bngsva6a4fm4df5ksok8jai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993561624272-0nd8cboi0bngsva6a4fm4df5ksok8jai</string>
	<key>API_KEY</key>
	<string>AIzaSyDI5XSufBAs9spJTA03PN9FrUZYQ15ReX0</string>
	<key>GCM_SENDER_ID</key>
	<string>993561624272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatnbeat</string>
	<key>PROJECT_ID</key>
	<string>eatnbeat-4a0f4</string>
	<key>STORAGE_BUCKET</key>
	<string>eatnbeat-4a0f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993561624272:ios:d24d508307b3e07dd4a8d5</string>
</dict>
</plist>